<div
    class="my-24 mx-auto relative bg-neutral-primary-soft max-w-xs w-full p-6 border border-default rounded-base shadow-xs">

    <div class="flex flex-col items-center">
        <img class="w-24 h-24 mb-6 rounded-full" src="/user.png" alt="Bonnie image" />


        <h1 class="mb-0.5 text-xl font-semibold tracking-tight text-heading">{{userName()}}
            {{lastName()}}</h1>


        <div class="flex flex-col mt-1">
            <div class="flex mt-0.5 ms">
                <i class="fa-solid fa-envelope me-1"></i>
                <span class="text-sm text-body ">{{userEmail()}}</span>
            </div>

            <div class="flex mt-0.5">
                <i class="fa-solid fa-phone me-1"></i>
                <span class="text-sm text-body">{{userPhone()}}</span>
            </div>


            <div class="flex mt-0.5">
                <i class="fa-solid fa-cake-candles me-1"></i>
                <span class="text-sm text-body">{{userBOD() | date:'dd/MM/yyyy'}}</span>
            </div>


        </div>




    </div>
</div>